mixin checkbox(text, checked)

  if checked
    label.checkbox&attributes(attributes)
      input(type="checkbox" name="checkbox" checked).checkbox__input
      span.checkbox__new-input 
        .checkbox__check-item
      //- |#{text}
      .checkbox__text #{text}
  else
    label.checkbox&attributes(attributes)
      input(type="checkbox" name="checkbox").checkbox__input
      span.checkbox__new-input 
        .checkbox__check-item
      .checkbox__text #{text}

mixin checkboxList(header, list)
  .expandable-checkbox&attributes(attributes)
    .expandable-checkbox__header #{header}
    if list
      .expandable-checkbox__list
        each item in list
          .expandable-checkbox__list-item
            if item[1] === "0"
              +checkbox(item[0])
            else
              +checkbox(item[0], "checked")
    .expandable-checkbox__arrow
      i.zmdi.zmdi-chevron-down

mixin checkboxRich(text, desc)
  label.label-check-rich&attributes(attributes)
    input(type="checkbox" name="checkbox").label-check-rich__input
    span.label-check-rich__new-input 
      .checkbox__check-item
    |#{text}
    .label-check-rich__description #{desc}