.calendar
  .calendar__header 
    .calendar__header-left(id="left")
      i.zmdi.zmdi-arrow-left
    h2.calendar__header-date Август 2019
    .calendar__header-right(id="right")
      i.zmdi.zmdi-arrow-right
  
  .calendar__week
    each val in ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
      .calendar__week-item #{val}
        
  - var day = 29;
  - var x = 0;
  - var pale = "pale";
  - var activeDay = 8;
  - var active = "";
  - var periodBegin = 19;
  - var periodEnd = 23;
  - var period = "";
  .calendar__date
    while day <= 31
      .calendar__day.calendar__day_another-month #{day}
        - day++
    - day = 1
    while day <= 31
      .calendar__day(class=className) #{day}
        - day++
        - className = ""
        if day == 8
          - className = "calendar__day_today"
        if day == 19
          - className = "calendar__day_period calendar__day_period_begin"
        if day == 23
          - className = "calendar__day_period calendar__day_period_end"
        if day > 19 && day < 23
          - className = "calendar__day_period_between"
    .calendar__day.calendar__day_another-month 1
  .calendar__action
    .calendar__action-apply(data-action="apply")
      +button-form-single({text: "применить", colorBlue: true, name: "name", type: "button"})
    .calendar__action-clear(data-action="clear")
      +button-form-single({text: "очистить", colorBlue: false, name: "name", type: "button"})



//- .calendar
//-   .calendar__header 
//-     .calendar__header-left(id="left")
//-       i.zmdi.zmdi-arrow-left
//-     h2.calendar__header-date Август 2019
//-     .calendar__header-right(id="right")
//-       i.zmdi.zmdi-arrow-right
  
//-   .calendar__week
//-     each val in ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
//-       .calendar__week-item #{val}
        
//-   - var day = 29;
//-   - var x = 0;
//-   - var pale = "pale";
//-   - var activeDay = 8;
//-   - var active = "";
//-   - var periodBegin = 19;
//-   - var periodEnd = 23;
//-   - var period = "";
//-   .calendar__date
//-     while day <= 31
//-       .calendar__day.calendar__day_another-month #{day}
//-         - day++
//-     - day = 1
//-     while day <= 31
//-       .calendar__day(class=className) #{day}
//-         - day++
//-         - className = ""
//-         if day == 8
//-           - className = "calendar__day_today"
//-         if day == 19
//-           - className = "calendar__day_period calendar__day_period_begin"
//-         if day == 23
//-           - className = "calendar__day_period calendar__day_period_end"
//-         if day > 19 && day < 23
//-           - className = "calendar__day_period_between"
//-     .calendar__day.calendar__day_another-month 1
//-   .calendar__action
//-     .calendar__action-apply(data-action="apply")
//-       +button-form-single({text: "применить", colorBlue: true, name: "name", type: "button"})
//-     .calendar__action-clear(data-action="clear")
//-       +button-form-single({text: "очистить", colorBlue: false, name: "name", type: "button"})