mixin radiobutton(text, id, value, group, checked)
  if checked
    input.radio-button-input(type="radio" id=id name=group value=value checked)
    label.radio-button(for=id)&attributes(attributes) 
      .radio-button__check-outer
        .radio-button__check-inner
      .radio-button__text #{text}
  else
    input.radio-button-input(type="radio" id=id name=group value=value)
    label.radio-button(for=id)&attributes(attributes)
      .radio-button__check-outer
        .radio-button__check-inner
      .radio-button__text #{text}