mixin dropdown(text, dataAttribute, list, apply)
	.dropdown-wrapper
		.dropdown&attributes(attributes)
			.dropdown__text(data-dropdown=dataAttribute) #{text}
			if list
				.dropdown-list
					each item in list
						.dropdown-list__item
							.dropdown-list__item-text #{item}
							.dropdown-list__item-count
								.dropdown-list__item-minus.dropdown-list__item-minus--unavailable(data-count="minus") -
								.dropdown-list__item-number(data-count="number") 0
								.dropdown-list__item-plus(data-count="plus") +
					if apply
						.dropdown-list__action
							.dropdown-list__action-apply(data-action="apply") применить
							.dropdown-list__action-clear(data-action="clear") очистить
			.dropdown__text-arrow
				i.zmdi.zmdi-chevron-down

mixin dateDropdown(text)
	.dropdown&attributes(attributes)
		.dropdown__label
		.dropdown__text #{text}
		.dropdown__text-arrow
			i.zmdi.zmdi-chevron-down

mixin filterDateDropdown(text)
	.dropdown&attributes(attributes)
		.dropdown__label
		.dropdown__text #{text}
		.dropdown__text-arrow
			i.zmdi.zmdi-chevron-down
