mixin dropdown(label, text, dataAttribute, list, apply)
	.dropdown&attributes(attributes)
		.dropdown__label #{label}
		.dropdown__text(data-dropdown=dataAttribute) #{text}
			if list
				.dropdown-list
					each item in list
						.dropdown-list__item 
							.dropdown-list__item-text #{item}
							.dropdown-list__item-count
								.dropdown-list__item-minus(data-count="minus") <i class="zmdi zmdi-minus"></i>
								.dropdown-list__item-number(data-count="number") 0
								.dropdown-list__item-minus(data-count="plus") <i class="zmdi zmdi-plus"></i>
					if apply
						.dropdown-list__action
							.dropdown-list__action-apply(data-action="apply") применить
							.dropdown-list__action-clear(data-action="clear") очистить
		.dropdown__text-arrow <i class="zmdi zmdi-chevron-down"></i>

mixin dateDropdown(label, text )
	.dropdown&attributes(attributes)
		.dropdown__label #{label}
		.dropdown__text #{text}
		.dropdown__text-arrow <i class="zmdi zmdi-chevron-down"></i>

mixin filterDateDropdown(label, text)
	.dropdown&attributes(attributes)
		.dropdown__label #{label}
		.dropdown__text #{text}
		.dropdown__text-arrow <i class="zmdi zmdi-chevron-down"></i>
