//- mixin rangeslider(header, min, max)
//-   .range-slider(data-range-slider)&attributes(attributes)
//-     .range-slider__header-wrapper
//-       .range-slider__header #{header}
//-       .range-slider__range #{min}<span class="rub">Р</span>&nbsp; - #{max}<span class="rub">Р</span>
//-     .range-slider__slider(data-range-slider-field)
//-       .range-slider__slider-circle.range-slider__slider-circle--left(data-range-slider-left-item)
//-       .range-slider__slider-line(data-range-slider-line)
//-       .range-slider__slider-circle.range-slider__slider-circle--right(data-range-slider-right-item)


//- mixin rangeslider(header, min, max)
//-   .range-slider(data-range-slider)&attributes(attributes)
//-     .range-slider__header-wrapper
//-       .range-slider__header #{header}
//-       .range-slider__range #{min}<span class="rub">Р</span>&nbsp; - #{max}<span class="rub">Р</span>
//-     input(type="range" multiple min="2000" step="1" max="15000" data-range-slider-input data-values-min="5000" data-values-max="10000")

mixin rangeslider(header, min, max, minRange, maxRange)
  .range-slider(data-range-slider data-min-range=minRange data-max-range=maxRange)&attributes(attributes)
    .range-slider__header-wrapper
      .range-slider__header #{header}
      .range-slider__range 
        span(data-min-value data-price-format) #{min}
        <span class="rub">Р</span>&nbsp; - 
        span(data-max-value data-price-format) #{max}
        <span class="rub">Р</span>
    .range-slider__slider(data-range-slider-field)
      .range-slider__slider-circle.range-slider__slider-circle--left(data-range-slider-left-item)
      .range-slider__slider-line(data-range-slider-line)
      .range-slider__slider-circle.range-slider__slider-circle--right(data-range-slider-right-item)
    input.input-range-slider(type="text" name="my_range" value="")